[submodule "SC-Realm-of-Cards"]
	path = SC-Realm-of-Cards
	url = https://github.com/WeTranscend-labs/SC-Realm-of-Cards.git
[submodule "FE-Realm-of-Cards"]
	path = FE-Realm-of-Cards
	url = https://github.com/WeTranscend-labs/FE-Realm-of-Cards.git
[submodule "BE-Realm-of-Cards"]
	path = BE-Realm-of-Cards
	url = https://github.com/WeTranscend-labs/BE-Realm-of-Cards.git
